@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Optional custom gradients */
.bg-gradient-day {
    @apply bg-gradient-to-r from-blue-400 via-blue-500 to-indigo-600;
}
.bg-gradient-night {
    @apply bg-gradient-to-r from-gray-800 via-gray-900 to-black;
}

/* Optional scrollbar */
::-webkit-scrollbar {
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 9999px;
}
